<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:fragment="LavanderiaForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form-label">Id Lavanderia</label>
            <input class="form-control" type="text" id="idlavanderia"
            name="nombre" required th:value="${lavanderia.idlavanderia}"/><br>
            <label class="col-form-label">Numero de prendas</label>
            <input class="form-control" type="text" id="numprendas"
            name="nombre" required th:value="${lavanderia.numprendas}"/><br>
            <label class="col-form-label">Numero de zapatos</label>
            <input class="form-control" type="text" id="numzapatos"
            name="nombre" required th:value="${lavanderia.numzapatos}"/><br>
            <label class="col-form-label">Tipo de lavado</label>
            <input class="form-control" type="text" id="tipolavado"
            name="nombre" required th:value="${lavanderia.tipolavado}"/><br>
            <label class="col-form-label">Costo</label>
            <input class="form-control" type="text" id="costo"
            name="nombre" required th:value="${lavanderia.costo}"/><br>
            <label class="col-form-label">Id Consumo</label>
            <input class="form-control" type="text" id="Consumos_idconsumo"
            name="nombre" required th:value="${lavanderia.Consumos_idconsumo}"/><br>
            <label class="col-form-label">Precio Final</label>
            <input class="form-control" type="text" id="preciofinal"
            name="nombre" required th:value="${lavanderia.preciofinal}"/><br>
            <div class="text_center">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/lavanderias}" class="btn btn-primary">Cancelar</a>
            </div>   
        </form>
    </div>

</body>
</html>