<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar planConsumo</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <form th:action="@{'/planConsumo/'+${id}+'/edit/save'}" th: object ="${planConsumo}"
    method="post">
    <div th:replace="~{fragments/planConsumoForm :: planConsumoForm(titulo='editar planConsumo',planConsumo=${planConsumo})}">

    </div>
</form>
    
</body>
</html>