<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo de Habitacion</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <form th:action="@{'/tiposHabitacion/'+${id}+'/edit/save'}" th: object ="${tipoHbitacion}"
    method="post">
    <div th:replace="~{fragments/tipoHabitacionForm :: tipoHabitacionForm(titulo='editar tipoHabitacion',tipoHabitacion=${tipoHabitacion})}">

    </div>
</form>
    
</body>
</html>