<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Fragmento</title>
    
</head>
<body>
    <div th:fragment="usuarioForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form-label">Nombre</label>
            <input class="form-control" type="text" id="nombre"
            name="nombre" required th:value="${usuario.nombre}"/> 
            <label class="col-form-label">Cedula</label>
            <input class="form-control" type="text" id="cedula"
            name="cedula" required th:value="${usuario.cedula}"/>

            <label class="col-form-label" for="tiposusuario_id">Tipo:</label>
            <select class="form-control" id="tiposusuario_id" name="tiposusuario_id" required>
                <th:block th:each="tiposusuario_id : ${tipos}" >
                    <option th:value="${tiposusuario_id.id}" th:text="${tiposusuario_id.tipo}" th:selected="${usuario!=null || usuario.tiposusuario_id.id == tipo.id}"></option>
                </th:block>
            </select><br>

            <div class="text_center">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/usuarios}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>


    
</body>
</html>