<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Bebidas</title>
</head>
<body>
    <div> lista de bebidas</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>nombre</th>
                <th>precio</th>
                <th>todoIncluido</th>

            </tr>
        </thead>
        <th:block th:each="bebida:${bebidas}">
            <tr>
                <td th:text="${bebida.nombre}"></td>
                <td th:text="${bebida.precio}"></td>
                <td th:text="${bebida.todoIncluido}"></td>
                <td>
                    <a th:href="@{/bebidas/{nombre}/edit(nombre=${bebida.nombre})}" >Editar</a>
                    <a th:href="@{/bebidas/{nombre}/delete(nombre=${bebida.nombre})} "onclick = "return confirm ('Estas seguro de borrar esta bebida?')" > Eliminar</a>


            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{usuarios/new}" class="btn btn-primary">Añadir usuario</a>
</body>
</html>