<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Editar Bebida</title>
</head>

<body>
    <br>
    <form th:action="@{'/bebidas/'+${nombre}+'/edit/save'}" th:object ="${bebida}" method="post">
        <div th:replace="~{fragments/bebidaForm :: bebidaForm(titulo='editar bebida',bebida=${bebida})}">
    </form>
    
</body>
</html>

