<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Gimnasio</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <form th:action="@{'/gimnasios/'+${nombre}+'/editar/save'}" th: object ="${gimnasio}"
    method="post">
    <div th:replace="~{fragments/gimnasioForm :: gimnasioForm(titulo='Editar gimnasio', gimnasio=${gimnasio})}">

    </div>
</form>
    
</body>
</html>