<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Internet</title>
</head>
<body>
    <div> Internet</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID Consumo</th>
                <th>Nombre</th>
                <th>cedula</th>
                <th>tipo</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <th:block th:each="user:${internets}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.nombre}"></td>
                <td th:text="${user.cedula}"></td>
                <td th:text="${user.tipo}"></td>
                <td>
                    <a th:href="@{/internets/{id}/edit(id=${user.id})}" >Editar</a>
                    <a th:href="@{/internets/{id}/delete(id=${user.id})} "onclick = "return confirm ('Estas seguro de borrar este item?')" > Eliminar</a>


            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{internets/new}" class="btn btn-primary">Añadir usuario</a>
</body>
</html>