<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title> Piscinas</title>
</head>
<body>
    <div> lista de piscinas</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>profundidad</th>
                <th>horarioApertura</th>
                <th>horarioCierre</th>
                <th>nombre</th>
                <th>idConsumo</th>
            </tr>
        </thead>
        <th:block th:each="tiphab:${tiphabs}">
            <tr>
                <td th:text="${tiphab.profundidad}"></td>
                <td th:text="${tiphab.horarioApertura}"></td>
                <td th:text="${tiphab.horarioCierre}"></td>
                <td th:text="${tiphab.nombre}"></td>
                <td th:text="${tiphab.idConsumo}"></td>
                <td>
                    <a th:href="@{/piscinas/{id}/editar(id=${tiphab.id})}" >Editar</a>
                    <a th:href="@{/piscinas/{id}/eliminar(id=${tiphab.id})}" onclick="return confrim ('Estas seguro de borrar esta piscina?')" > Eliminar</a>

            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{habitaciones/new}" class="btn btn-primary">Añadir habitacion</a>
</body>
</html>