<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Lavanderia</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form th:action="@{'/lavanderias/'+${idlavanderia}+'/edit/save'}" th:object ="${Lavanderia}" method="post">
        <div th:replace="~{fragments/LavanderiaForm :: LavanderiaForm(titulo='Editar lavanderia',lavanderia=${lavanderia})}"></div>
</body>
</html>