<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Reserva de Serivicios</title>
</head>
<body>
    <div> Lista de productos</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Tienda</th>
                <th>Super Mercado</th>
                <th>id Consumo</th>

            </tr>
        </thead>
        <th:block th:each="Productos:${Productos}">
            <tr>
                <td th:text="${Productos.nombre}"></td>
                <td th:text="${Productos.precio}"></td>
                <td th:text="${Productos.tienda}"></td>
                <td th:text="${Productos.smercado_nombre}"></td>
                <td th:text="${Productos.Consumos_idconsumo}"></td>

                <td>
                    <a th:href="@{/productos/{nombre}/edit(nombre=${Productos.nombre})}" >Editar</a>
                    <a th:href="@{/productos/{nombre}/delete(nombre=${Productos.nombre})} "onclick = "return confirm ('Estas seguro de borrar este producto?')" > Eliminar</a>

                </td>
            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{productos/new}" class="btn btn-primary">Añadir producto</a>
</body>
</html>