<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Reserva Spa</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <form th:action="@{'/reservasSpa/'+${id}+'/editar/save'}" th: object ="${reservaSpa}"
    method="post">
    <div th:replace="~{fragments/reservasSpaForm :: reservasSpaForm(titulo='Editar reserva spa', reservaSpa=${reservaSpa})}">

    </div>
</form>
    
</body>
</html>