<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Reservas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID Reserva</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Número Personas</th>
                    <th>Estado</th>
                    <th>Precio Reserva</th>
                    <th>Tipo Plan Consumo</th>
                    <th>ID Usuario</th>
                </tr>
            </thead>
            <th:block th:each="reserva:${reservas}">
                <tr>
                    <td th:text="${reserva.id}"></td>
                    <td th:text="${reserva.fechaEntrada}"></td>
                    <td th:text="${reserva.fechaSalida}"></td>
                    <td th:text="${reserva.numPersonas}"></td>
                    <td th:text="${reserva.estado}"></td>
                    <td th:text="${reserva.precioReserva}"></td>
                    <td th:text="${reserva.tipoPlanConsumo}"></td>
                    <td th:text="${reserva.usuarioID}"></td>
                    <td>
                        <a th:href="@{reservas/{id}/edit(id=${reserva.id})}">
                            Editar
                        </a>
                        <a th:href="@{reservas/{id}/delete(id=${reserva.id})}"
                        onclick="return confirm('¿Estás seguro de borrar esta reserva?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn-primary">Volver Atrás</a>
            <a th:href="@{reservas/new}" class="btn btn-primary">Añadir reserva</a>
        </div>
    </div>
</body>
</html>