<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasios</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Gimnasios</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Horario Apertura</th>
                    <th>Horario Cierre</th>
                    <th>Ocupado</th>
                    <th>Tipo Salon</th>
                    <th>Capacidad</th>
                </tr>
            </thead>
            <th:block th:each="salon:${salones}">
                <tr>
                    <td th:text="${salon.nombre}"></td>
                    <td th:text="${salon.horarioapertura}"></td>
                    <td th:text="${salon.horariocierre}"></td>
                    <td th:text="${salon.tiposalon}"></td>
                    <td th:text="${salon.capacidad}"></td>
                    <td>
                        <a th:href="@{salones/{nombre}/edit(id=${salon.nombre})}">
                            Editar
                        </a>
                        <a th:href="@{salones/{nombre}/delete(id=${salon.nombre})}"
                        onclick="return confirm('¿Estás seguro de borrar este salon?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn-primary">Volver Atrás</a>
            <a th:href="@{salones/new}" class="btn btn-primary">Añadir salon</a>
        </div>
    </div>
</body>
</html>