<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spas</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Spas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Horario Apertura</th>
                    <th>Horario Cierre</th>
                    <th>Capacidad</th>
                </tr>
            </thead>
            <th:block th:each="Spas:${Spas}">
                <tr>
                    <td th:text="${Spas.nombre}"></td>
                    <td th:text="${Spas.horarioapertura}"></td>
                    <td th:text="${Spas.horariocierre}"></td>
                    <td th:text="${Spas.capacidad}"></td>
                    <td>
                        <a th:href="@{spas/{nombre}/edit(id=${Spas.nombre})}">
                            Editar
                        </a>
                        <a th:href="@{spas/{nombre}/delete(id=${Spas.nombre})}"
                        onclick="return confirm('¿Estás seguro de borrar este spa?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn-primary">Volver Atrás</a>
            <a th:href="@{spas/new}" class="btn btn-primary">Añadir spa</a>
        </div>
    </div>
</body>
</html>